.contact-list-container {
  margin-top: 20px;
}

.contact {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  float: right;
}
